@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{

    var className = Model.Movies.Count > 0 ? "popular" : null;
}*@

<h2>Movie</h2>

@if (Model.Movies.Count == 0)
{
    <text>
      No Movie 
    </text>

}
else
{
    <ul>
        @foreach (var movie in Model.Movies)
        {

            <li>@movie.Name</li>

        }
    </ul>
}